- name : configure mongodb
  hosts: local
  connection : local
  roles: 
    - name: copy mongodb rep
      ansible.builtin.copy:
       src: mongo.repo
       dest: /etc/yum.repos.d/mongo.repo

    - name : install mongodb
      ansible.builtin.dnf:
       name: mongodb-org
       state : present

    - name:  enable mongodb service
      ansible.builtin.service:
        name : mongod
        enabled : yes
        state : started


    - name: give open access
      ansible.builtin.replace:
        path : /etc/mongod.conf
        regexp: '127.0.0.1'
        replace: '0.0.0.0'

        
    - name:  restarted mongodb service
      ansible.builtin.service:
        name : mongod
        state : restarted