- name : app_setup
  ansible.builtin.import_role:
     name : common
     tasks_from: app_setup.yaml

- name : nodejs_setup
  ansible.builtin.import_role:
     name : common
     tasks_from: nodejs_setup.yaml

- name: systemd.yaml
  ansible.builtin.import_role:
      tasks_from: systemd.yaml

- name: restart user
  ansible.builtin.service:
      name: user
      state: restarted
      enabled : yes