- name : useradd
  ansible.builtin.user:
      name : roboshop 
      system : true
      home : /app
      shell : /sbin/nologin
      comment : "roboshop system user"

- name : delete directory
  ansible.builtin.file:
      path: /app
      state : absent

- name : make directory
  ansible.builtin.file: 
      path: /app
      state: directory
  
- name : delete directory
  ansible.builtin.file:
      path: /tmp/{{ component }}.zip
      state : absent
    

- name : download the code
  ansible.builtin.get_url:
      url : https://roboshop-artifacts.s3.amazonaws.com/{{ component }}-v3.zip
      dest: /tmp/{{ component }}.zip
      
- name : unzip the file
  ansible.builtin.unarchive:
      src : /tmp/{{ component }}.zip
      dest: /app
      remote_src: yes

- name: create system user roboshop
  ansible.builtin.user:
      name: roboshop
      system: true
      home: /app
      shell: /sbin/nologin
      comment: "Roboshop system user"
  
- name: delete app directory
  ansible.builtin.file:
      path: /app
      state: absent

- name: create app directory
  ansible.builtin.file:
      path: /app
      state: directory

- name: delete shipping zip file
  ansible.builtin.file:
      path: /tmp/shipping.zip
      state: absent

- name: download shipping
  ansible.builtin.get_url:
      url: https://roboshop-artifacts.s3.amazonaws.com/shipping-v3.zip 
      dest: /tmp/shipping.zip

- name: unarchieve shipping
  ansible.builtin.unarchive:
      src: /tmp/shipping.zip
      dest: /app
      remote_src: yes