- name : app_setup
  ansible.builtin.import_role:
     name : common
     tasks_from: app_setup.yaml

- name : nodejs_setup
  ansible.builtin.import_role:
     name : common
     tasks_from: nodejs_setup.yaml

- name: systemd.yaml
  ansible.builtin.import_role:
      name : common
      tasks_from: systemd.yaml

- name: restart cart
  ansible.builtin.service:
      name: cart
      state: restarted
      enabled : yes    